.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
/* 颜色尺寸 */

.col-left {
	height: 200px;
	background-color: palevioletred;
}

.col-right {
	height: 200px;
	background-color: #a8a4d9;
}
/* 布局方案1 */
.container1 {
	.col-left {
		float: left;
		width: 200px;
	}

	.col-right {
		margin-left: 210px;
	}
}

/* 布局方案2 */
.container2 {
	overflow: hidden;
	.sub-container {
		float: left;
		width: 100%;
		.col-left {
			margin-right: 210px;
		}
	}
	.col-right {
		float: right;
		width: 200px;
	}

}
